/* 修正页面左侧边栏样式 -- 开始 */
.sidebar li i {
  color: #ffffff;
}
.sidebar li i.el-submenu__icon-arrow {
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  margin-top: -9px;
  background-color: transparent !important;
}
.sidebar .el-submenu__title {
  height: 50px;
  line-height: 50px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.sidebar .el-submenu__title:hover {
  background-color: #ffffff !important;
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.sidebar .el-submenu__title:hover i {
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.sidebar .el-submenu__title:hover i.el-submenu__icon-arrow {
  background-color: #ffffff;
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.sidebar .el-menu-item {
  height: 50px;
  line-height: 50px;
  background-color: #40A0FA !important;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.sidebar .el-menu-item:hover {
  background-color: #ffffff !important;
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.sidebar .el-menu-item:hover i {
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.sidebar .el-menu-item:hover i.el-submenu__icon-arrow {
  background-color: #ffffff;
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.sidebar .el-menu-item.is-active {
  background-color: #ffffff !important;
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.sidebar .el-menu-item.is-active i {
  font-weight: bolder !important;
  color: #40A0FA !important;
}
/* 修正页面左侧边栏收起时样式 -- 开始 */
.el-menu--vertical{
  background-color: #40A0FA !important;
}
.el-menu--vertical .el-menu{
  padding: 0;
  margin: 0;
  background-color: #40A0FA !important;
}
.el-menu--vertical li i {
  color: #ffffff;
}
.el-menu--vertical li i.el-submenu__icon-arrow {
  color: #ffffff;
  font-size: 18px;
  font-weight: bolder;
  margin-top: -9px;
  background-color: transparent;
}
.el-menu--vertical .el-submenu__title {
  height: 50px;
  line-height: 50px;
}
.el-menu--vertical .el-submenu__title:hover {
  background-color: #ffffff !important;
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.el-menu--vertical .el-submenu__title:hover i {
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.el-menu--vertical .el-submenu__title:hover i.el-submenu__icon-arrow {
  background-color: #ffffff !important;
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.el-menu--vertical .el-menu-item {
  height: 50px;
  line-height: 50px;
  background-color: #40A0FA !important;
}
.el-menu--vertical .el-menu-item:hover {
  background-color: #ffffff !important;
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.el-menu--vertical .el-menu-item:hover i {
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.el-menu--vertical .el-menu-item:hover i.el-submenu__icon-arrow {
  background-color: #ffffff !important;
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.el-menu--vertical .el-menu-item.is-active {
  background-color: #ffffff !important;
  font-weight: bolder !important;
  color: #40A0FA !important;
}
.el-menu--vertical .el-menu-item.is-active i {
  font-weight: bolder !important;
  color: #40A0FA !important;
}
/* 修正页面左侧边栏收起时样式 -- 结束 */
/* 修正页面左侧边栏样式 -- 结束 */
.el-dialog{
  display: flex;
  flex-direction: column;
  margin:0 !important;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  /*height:600px;*/
  max-height:calc(100% - 30px);
  max-width:calc(100% - 30px);
}
.el-dialog .el-dialog__body{
  flex:1;
  overflow: auto;
  margin-right: 3px;
}
.el-dialog .el-dialog__body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: rgba(144, 147, 153, 0.3);
}

/*定义滚动条轨道 内阴影+圆角*/
.el-dialog .el-dialog__body::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/*定义滑块 内阴影+圆角*/
.el-dialog .el-dialog__body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(144, 147, 153, 0.3);
  transition: background-color 0.3s;
}
.el-dialog .el-form .el-select {
  width: 100% !important;
}
.el-dialog .el-form .el-date-editor.el-input {
  width: 100% !important;
}
.el-dialog .el-form .el-cascader {
  width: 100% !important;
}
.el-dropdown-menu{
  margin: 5px 10px!important;
}
.popper__arrow{
  margin-right: 15px!important;
}